<div class="submissionBox" >
    <div>
        <h3>Assigment 1 Sumission</h3>
        <p>Please submit a link to your assignment below. <br> Once submitted, your instructor will review your assignment and mark it as completed.</p>
    </div>

    <div>
        <form [formGroup]="assigment1Form" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
                <label for="link">Assignment Link:</label><br>
                <input type="text" class="form-control" formControlName="link" [ngClass]="{ 'is-invalid': submitted && fval.link.errors }" placeholder="www.yourlink.com"><br>
                <div *ngIf="submitted && fval.link.errors" class="invalid-feedback">
                    <span *ngIf="fval.link.errors.required">Link is required</span>
                </div>
            </div>
            <div class="form-group">
                <button name="button" type="submit" class="submit-button">Submit</button>
            </div>
        </form>
    </div>
</div>
