
<div *ngIf="isLoggedIn" class="topnav" id="myTopnav">
    <a href="/home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Modules
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/module1">Modules 1</a>
        <a href="/module2">Modules 2</a>
        <a href="/module3">Modules 3</a>
      </div>
    </div>
    <a href="/forums">Forums</a>
    <div class="dropdown" id="userTab">
    <button class="dropbtn">User
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/user-profile">Profile</a>
      <a href (click)="logout()">Logout</a>
    </div>
  </div>
    
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
      
    </a>
</div>