<div class="assignment-reply">
 <div class="assignment-reply-form">
        <form [formGroup]="assignmentReplyForm" (ngSubmit)="onFormSubmit()" *ngIf="submitted === false">

            <div class="form-group" >
                <input type="text" formControlName="link" size=40 maxlength=150> 
            </div>

            <button>Reply</button>
        
        </form>
            
        <div *ngIf="submitted === true">
            
            <p>Reply has been submitted!</p>
                
            <button (click)='updateReply()'>Update Reply</button>
                
            <button (click)='deleteReply()'>Delete Reply</button>

            <p class='updateMessage'>{{updateMessage}}</p>
                
            <div *ngIf="updateMode === true">
                <label>Revised Reply: </label><br>
                <input type="text" #newReply size=40 maxlength=150/><br>
                <button (click)='submitReply(newReply.value)'>Submit</button>
            </div>
        
        </div>
    
    </div>

</div>