h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.themeButton{
    background-color: #0F9FCE;
    color: #1C355E;
    border-color: #1C355E;
    border-width: thin;
    font-weight: 500;
}

.themeButton:hover{
    background-color: #FFBF3C;
    color: #1C355E;
    border-width: thin;
    border-color: #1C355E;
}

