div {
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    height: auto;
    width: 25%;
    margin: 10px auto;
    padding: 10px;
  }

  .formInputs {
    margin: 5px;
  }

  #instructions {
      font-size: large;
  }