<div class="form-section">
    <img class="logo" src="assets/images/SLO-horz-cyan_SLO-horz-cyan.png">
    <p class="instructions">Sign up to access classroom content.</p>
</div>

<div class="input-section">
    <form [formGroup]="registerForm" (submit)="register()">

        <div class="form-group">
            <label for="email">Email:</label><br>
                <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" [(ngModel)]="credentials.email" placeholder="Email"/><br>
            <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                <span *ngIf="fval.email.errors.required">Email is required</span>
                <span *ngIf="fval.email.errors.email">Enter valid email address</span>
            </div>
        </div>

        <div class="form-group">
            <label for="fullName">Full Name:</label><br>
                <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.fullName.errors }" [(ngModel)]="credentials.name" placeholder="Full Name"/><br>
            <div *ngIf="submitted && fval.fullName.errors" class="invalid-feedback">
                <span *ngIf="fval.fullName.errors.required">Full Name is required</span>
            </div>
        </div>
    
        <div class="form-group">
            <label for="password">Password:</label><br>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" [(ngModel)]="credentials.password" placeholder="Password"/><br>
            <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                <span *ngIf="fval.password.errors.required">Password is required</span>
                <span *ngIf="fval.password.errors.minlength">Password must be at least 6 characters</span>
            </div>
        </div>
    
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-default" class="submit-button" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Sign up
            </button>
        </div>
    </form>
</div>

<div class="form-section">
    <div>
        <p>Have an account? <a href="/log-in">Log in</a></p>
    </div>
</div>