<div style="text-align: center">
    <h2>Startland Student Portal</h2>
    <p id="instructions">Sign up to access classroom content.</p>
</div>
<div style="text-align: center">
    <form>
        <label>Email: <input class="formInputs" type="text" name="email"/></label><br>
        <label>Full Name: <input class="formInputs" type="text" name="fullName"/></label><br>
        <label>Username: <input class="formInputs" type="text" name="username"/></label><br>
        <label>Password: <input class="formInputs" type="password" name="password"/></label><br>
        <button class="formInputs">Sign up</button>
    </form>
</div> 
<div style="text-align: center">
    <p>Have an account? Log in</p>
</div>

