<!-- Start of Forum Structure layout-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 paginationBar forumModule forumMargin">
                    <i class="fa fa-chevron-circle-right paginationArrow"></i> <a href="module1">Module 1</a> <i class="fa fa-chevron-circle-right paginationArrow"></i> <a href="module2">Module 2</a> <i class="fa fa-chevron-circle-right paginationArrow"></i> <a href="module3">Module 3</a> <i class="fa fa-chevron-circle-right paginationArrow"></i> <a href="module4">Module 4</a> <i class="fa fa-chevron-circle-right paginationArrow"></i> <a href="module5">Module 5</a>
                </div>
            </div>

            <div id="module1" class="row forumModule forumMargin">
                <!--<a href="#" onclick="showDiscussions(1);">-->
                    <div class="col-lg-12 columnPad">
                        <div class="pullLeft">
                            <h1>Module 1: NAME</h1>
                        </div>
                        <div class="pullRight">
                            <a class="btn btn-primary themeButton" [routerLink]="['/submit-assignment', 1]">Submit Assignment</a>
                        </div>
                    </div>
                <!--</a>-->
            </div>

            <div id="moduleDiscussions1" class="row forumPad" style="display:block;">
                <table class="forumTable">
                    <thead>
                        <th>
                            Assignment
                        </th>
                        <th>
                            Author
                        </th>
                        <th class="pullRight">
                            Replies
                        </th>
                    </thead>

                    <tr class="forumModule" *ngFor ="let assignment of assignments">
                            <td *ngIf="assignment.moduleNum === 1" >
                                <a [routerLink]="['/assignment-comments', assignment.id]">{{assignment.name}}</a>
                            </td>
                                    <td *ngIf="assignment.moduleNum === 1" >
                                        <div *ngFor ="let user of users">
                                            <p *ngIf="user.id === assignment.userId">{{user.username}}</p>
                                        </div>
                                    </td>

                            <td *ngIf="assignment.moduleNum === 1" class="pullRight">
                                <p>{{commentCount(assignment.id)}}</p>
                            </td>

                    </tr>

                </table>
            </div>

            <div id="module2" class="row forumModule forumMargin">
                <!--<a href="#" onclick="showDiscussions(2);">-->
                    <div class="col-lg-12 columnPad">
                        <div class="pullLeft">
                            <h1>Module 2: NAME</h1>
                        </div>
                        <div class="pullRight">
                            <a class="btn btn-primary themeButton" [routerLink]="['/submit-assignment', 2]">Submit Assignment</a>
                        </div>
                    </div>
                <!--</a>-->
            </div>

            <div id="moduleDiscussions2" class="row forumPad" style="display:block;">
                <table class="forumTable">
                    <thead>
                        <th>
                            Assignment
                        </th>
                        <th>
                            Author
                        </th>
                        <th class="pullRight">
                            Replies
                        </th>
                    </thead>

                    <tr class="forumModule" *ngFor ="let assignment of assignments">
                      <td *ngIf="assignment.moduleNum === 2" >
                          <a [routerLink]="['/assignment-comments', assignment.id]">{{assignment.name}}</a>
                      </td>
                              <td *ngIf="assignment.moduleNum === 2" >
                                  <div *ngFor ="let user of users">
                                    <p *ngIf="user.id === assignment.userId" >{{user.username}}</p>
                                  </div>
                              </td>

                      <td *ngIf="assignment.moduleNum === 2" class="pullRight">
                          <p>{{commentCount(assignment.id)}}</p>
                      </td>

              </tr>


                </table>
            </div>

            <div id="module3" class="row forumModule forumMargin">
                <!--<a href="#" onclick="showDiscussions(3);">-->
                    <div class="col-lg-12 columnPad">
                        <div class="pullLeft">
                            <h1>Module 3: NAME</h1>
                        </div>
                        <div class="pullRight">
                            <a class="btn btn-primary themeButton" [routerLink]="['/submit-assignment', 3]">Submit Assignment</a>
                        </div>
                    </div>
                <!--</a>-->
            </div>

            <div id="moduleDiscussions3" class="row forumPad" style="display:block;">
                <table class="forumTable">
                    <thead>
                        <th>
                            Assignment
                        </th>
                        <th>
                            Author
                        </th>
                        <th class="pullRight">
                            Replies
                        </th>
                    </thead>

                    <tr class="forumModule" *ngFor ="let assignment of assignments">

                      <td *ngIf="assignment.moduleNum === 3" >
                          <a [routerLink]="['/assignment-comments', assignment.id]">{{assignment.name}}</a>
                      </td>
                              <td *ngIf="assignment.moduleNum === 3" >
                                  <div *ngFor ="let user of users">
                                    <p *ngIf="user.id === assignment.userId" >{{user.username}}</p>
                                  </div>
                              </td>

                      <td *ngIf="assignment.moduleNum === 3" class="pullRight">
                          <p>{{commentCount(assignment.id)}}</p>
                      </td>

              </tr>

                </table>
            </div>

            <div id="module4" class="row forumModule forumMargin">
                <!--<a href="#" onclick="showDiscussions(4);">-->
                    <div class="col-lg-12 columnPad">
                        <div class="pullLeft">
                            <h1>Module 4: NAME</h1>
                        </div>
                        <div class="pullRight">
                            <a class="btn btn-primary themeButton" [routerLink]="['/submit-assignment', 4]">Submit Assignment</a>
                        </div>
                    </div>
                <!--</a>-->
            </div>

            <div id="moduleDiscussions4" class="row forumPad" style="display:block;">
                <table class="forumTable">
                    <thead>
                        <th>
                            Assignment
                        </th>
                        <th>
                            Author
                        </th>
                        <th class="pullRight">
                            Replies
                        </th>
                    </thead>

                    <tr class="forumModule" *ngFor ="let assignment of assignments">
                      <td *ngIf="assignment.moduleNum === 4" >
                          <a [routerLink]="['/assignment-comments', assignment.id]">{{assignment.name}}</a>
                      </td>
                              <td *ngIf="assignment.moduleNum === 4" >
                                  <div *ngFor ="let user of users">
                                    <p *ngIf="user.id === assignment.userId" >{{user.username}}</p>
                                  </div>
                              </td>

                      <td *ngIf="assignment.moduleNum === 4" class="pullRight">
                          <p>{{commentCount(assignment.id)}}</p>
                      </td>

              </tr>


                </table>
            </div>

            <div id="module5" class="row forumModule forumMargin">
                <!--<a href="#" onclick="showDiscussions(5);">-->
                    <div class="col-lg-12 columnPad">
                        <div class="pullLeft">
                            <h1>Module 5: NAME</h1>
                        </div>
                        <div class="pullRight">
                            <a class="btn btn-primary themeButton" [routerLink]="['/submit-assignment', 5]">Submit Assignment</a>
                        </div>
                    </div>
                <!--</a>-->
            </div>

            <div id="moduleDiscussions5" class="row forumPad" style="display:block;">
                <table class="forumTable">
                    <thead>
                        <th>
                            Assignment
                        </th>
                        <th>
                            Author
                        </th>
                        <th class="pullRight">
                            Replies
                        </th>
                    </thead>

                    <tr class="forumModule" *ngFor ="let assignment of assignments">

                      <td *ngIf="assignment.moduleNum === 5" >
                          <a [routerLink]="['/assignment-comments', assignment.id]">{{assignment.name}}</a>
                      </td>
                              <td *ngIf="assignment.moduleNum === 5" >
                                  <div *ngFor ="let user of users">
                                    <p *ngIf="user.id === assignment.userId" >{{user.username}}</p>
                                  </div>
                              </td>

                      <td *ngIf="assignment.moduleNum === 5" class="pullRight">
                          <p>{{commentCount(assignment.id)}}</p>
                      </td>

              </tr>

                </table>
            </div>

        </div>


