<div class="announcements">
  <div>
    <h1 class="announcementsHeader">Internship Announcements</h1>
    <p *ngFor ="let announcement of announcements">{{announcement}}</p>
  </div>
</div>
<div class="announcements">
  <form [formGroup]="announcementForm" (ngSubmit)="onFormSubmit()" class="addAnnouncement" *ngIf="currentUser.roles[0] === 'ROLE_ADMIN'">
    <div class="form-group">
      <label>Add announcement: </label><br>
      <textarea formControlName="announcement" class="form-control" #newAnnouncement (keyup.enter)='addAnnouncement(newAnnouncement.value); newAnnouncement.value = ""' name="announcement"></textarea><br>
      <button (click)='addAnnouncement(newAnnouncement.value); newAnnouncement.value = ""'>Add</button>      
    </div>
  </form>
</div>


