<div class="announcements">
  <div>
    <h1 class="announcementsHeader">Internship Announcements</h1>
    <div *ngFor ="let announcement of announcements">
      <p>{{announcement.content}}</p>
      <button *ngIf="currentUser.roles[0] === 'ROLE_ADMIN'" (click)='deleteAnnouncement(announcement)'>Delete</button>
    </div>
  </div>
</div>
<div class="announcements">
  <form [formGroup]="announcementForm" (ngSubmit)="onFormSubmit()" class="addAnnouncement" *ngIf="currentUser.roles[0] === 'ROLE_ADMIN'">
    <div class="form-group">
      <label>Add announcement: </label><br>
      <textarea formControlName="content" class="form-control"></textarea><br>
      <button>Add</button>      
    </div>
  </form>
</div>


