<div class="topnav" id="myTopnav">
    <nav>
        <a href="home" class="active">Home</a>
        <a href="announcements">Announcements</a>
        <a href="modules">Modules</a>
        <a href="Forums">Forums</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <a href *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        <a href="/log-in" *ngIf="!isLoggedIn">Login</a>
    </nav>
</div>
<router-outlet></router-outlet>
  
