.updateMessage {
    color: limegreen;
    font-weight: bold;
}

.submit-assignment {
    margin: auto;
    max-width: fit-content;
    text-align: center;
}

.themeButton{
    background-color: #0F9FCE;
    color: #1C355E;
    border-color: #1C355E;
    border-width: thin;
    font-weight: 500;
}

.themeButton:hover{
    background-color: #FFBF3C;
    color: #1C355E;
    border-width: thin;
    border-color: #1C355E;
}

/* p {
    text-align: left;
} */