<div class="submit-assignment">
    
    <h2>Submit Assignment for Module {{moduleNumber}}</h2>
    <p *ngIf="submitted === false">Please submit a link to your assignment below. <br> Once submitted, your instructor will review your assignment and mark it as completed.</p>
        
    <div class="submit-assignment-form">
        <form [formGroup]="submitAssignmentForm" (ngSubmit)="onFormSubmit()" *ngIf="submitted === false">

            <div class="form-group" >
                <input type="text" formControlName="link" size=40 maxlength=150> 
            </div>

            <button>Submit Assignment</button>
        
        </form>
            
        <div *ngIf="submitted === true">
            
            <p>Assignment has been submitted!</p>
                
            <button (click)='updateAssignment()'>Update Assignment</button>
                
            <button (click)='deleteAssignment()'>Delete Assignment</button>

            <p class='updateMessage'>{{updateMessage}}</p>
                
            <div *ngIf="updateMode === true">
                <label>Revised assignment: </label><br>
                <input type="text" #newAssignment size=40 maxlength=150/><br>
                <button (click)='submitNewAssignment(newAssignment.value)'>Submit</button>
            </div>

            <div>
                <button [routerLink]="['/forum']">View Forum</button>
            </div>
        
        </div>
    
    </div>

</div>