<div class="new-discussion">
    <h1>Start a New Discussion</h1>
        <div class="new-discussion-form">
            <form [formGroup]="newDisForm">
                
                <div class="discussionTitle">
                    <label for="title">Discussion Title:</label><br>
                        <input type="text" name="discussion_title" size=40 maxlength=150> 
                </div>

                <div class="discussionBody">
                    <label for="body">Post Text:</label><br>
                        <textarea name="body_text" rows=8 cols=40 wrap=virtual></textarea>
                </div>
            </form>
        </div>
</div>