<div class="login-box">
    <div class="logo">
        <img class="login-logo" src="assets/images/SLO-horz-cyan_SLO-horz-cyan.png">
    </div>
    <div class="login-form">
        <form [formGroup]= "login-form">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" placeholder="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="password"><br>
            <button name="button" type="submit" class="submit-button">LOGIN</button>
            <a href="/register" class="register">Register</a>
        </form>
    </div>
</div>
