<div class="login-box">
    <div class="logo">
        <img class="login-logo" src="assets/images/SLO-horz-cyan_SLO-horz-cyan.png">
    </div>
    <div class="login-form">
        <form [formGroup]="loginForm" (submit)="login()">
            <div class="form-group">
                <label for="email">Email:</label><br>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" [(ngModel)]="credentials.email" placeholder="Email"><br>
                <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                    <span *ngIf="fval.email.errors.required">Email is required</span>
                    <span *ngIf="fval.email.errors.email">Enter valid email address</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label><br>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" [(ngModel)]="credentials.password" placeholder="Password"><br>
                <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                    <span *ngIf="fval.password.errors.required">Password is required</span>
                </div>
            </div>
            <div class="form-group">
                <button name="button" type="submit" class="submit-button">LOGIN</button>
            </div>
            <a href="/user-registration"class="register">Register</a>
        </form>
    </div>
</div>
