<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="moduleNum">
        <mat-header-cell *matHeaderCellDef>Module #</mat-header-cell>
        <mat-cell *matCellDef="let module">{{ module.moduleNum }} <a href="module1">Module 1</a></mat-cell>

      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let module">{{ module.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef>Due Date</mat-header-cell>
        <mat-cell *matCellDef="let module">{{ module.dueDate }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let module">{{ module.status }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
