.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.summary {
    margin: 25px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

mat-header-cell {
    font-weight: bold;
}

.pastDue {
    color: red;
    font-weight: bold;
}


.dueToday {
    background-color: #FFFF00;
    font-weight: bold;
}

.complete {
    color: #0F9FCE;
}

a {
    color: black;
}

a:hover {
    color: #FFBF3C;

}