<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}'s</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Name:</strong>
    {{ currentUser.firstName }} {{ currentUser.lastName }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <p>
    <strong>School:</strong>
    
  </p>
  <p>
    <strong>District:</strong>
    
  </p>
  <p>
    <strong>Position:</strong>
    
  </p>
  <div>
        <button (click)='updateProfile()'>Edit Profile</button>
    <div *ngIf="updateMode === true" class="updateForm">
      <div class="form-group">
        <label for="username">Username:</label><br>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.username.errors }" placeholder="Username"/><br>
        <label for="email">Email:</label><br>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" placeholder="Email"/><br>
        <button (click)='cancelUpdateProfile()'>Cancel</button>
      </div>
    </div>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>